name: joss_draft

on: [push]

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Paper Draft
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: publications/2403_JOSS/paper.md
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: paper
          path: publications/2403_JOSS/paper.pdf
